/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
  font-family: @font-family-sans-serif;
  color: @armDarkBlue;
} 

h1{
	color: white;
  font-family: @font-family-serif;
  font-size: 36px;
  text-align: center;
  margin: 0;
  line-height: 46px;
  padding: 30px 0;
  @media(max-width: 767px){
	  font-size: 26px;
	  line-height: 36px;
  }
}

h2{
	font-family: @font-family-serif;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 26px;
	line-height: 34px;
	margin: 50px 0 18px 0;
	padding-left: 30px;
	@media(max-width: 767px){
	  font-size: 24px;
	  line-height: 32px;
  }
}

p{
	font-size: 19px;
	line-height: 29px;
	-webkit-font-smoothing: antialiased;
	padding-left: 30px;
	padding-right: 30px;
	@media(max-width: 767px){
	  font-size: 16px;
	  line-height: 26px;
  }
}

a.button,
input[type="submit"]{
	color: @armDarkBlue;
	border-top: 5px solid @armLightGray;
	text-transform: uppercase;
	text-decoration: none;
	font-size:18px;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom:5px;
	//margin-bottom: 50px;
	display:inline-block;
	//margin-left: 30px;
	-webkit-font-smoothing: antialiased;
	@media(max-width: 767px){
	//	margin-right:30px;
	}
	&:before{
		content: '';
		background: url('/assets/img/elements/button-arrow.svg') center center no-repeat transparent;
		width: 17px;
		height: 17px;
		display:block;
		position:absolute;
		left: 15px;
		margin-top: 4px;
		@media(max-width: 767px){
		  margin-top: 0;
		  left: auto;
		  right: 140px;
	  }
	}
	&:hover,
	&:active,
	&:focus{
		color: @armYellow;
		border-color: @armYellow;
		&:before{
			background: url('/assets/img/elements/button-arrow-active.svg') center center no-repeat transparent;
		}
	}
	@media(max-width: 767px){
	  font-size: 13px; 
	  margin-top: 15px;
	  margin-bottom: 0; 
	  float:right;
  }
}

.modal{
	.modal-content{
		border-radius: 0;
	}
	button.close{
		width: 50px;
		height: 50px;
		line-height: 50px;
		position:absolute;
		top: 0;
		right: 0;
		z-index:200000;
		color: white;
		background-color: @armDarkBlue;
		background-image: none;
	}
}

hr{
	margin:0;
	border: 0;
	height: 25px;
  background: url('/assets/img/elements/lines-divider_1300x25.png') center center repeat-x white;
}


form{
  input[type="submit"]{
		border-right:0;
		border-bottom:0;
		border-left: 0;
		background-color: white;
		float: right;			
	}
	.submit-arrow{
		background: url('/assets/img/elements/button-arrow.svg') center center no-repeat transparent;
		width: 17px;
		height: 17px;
		display:block;
		position:absolute;
		right: 100px;
		top: 50px;
		margin-top: 4px;
		@media(max-width: 767px){
		  margin-top: -4px;
		  right: 80px;
	  }
	}
	.form-group{
		position:relative;
		margin-top: 40px;
		border-bottom: 1px solid @armDarkBlue;
		float: left;
		width: 100%;
		&.textarea-group{
			border-bottom: 0;
			label{
				width: 100%;
				margin-bottom: 10px;
			}
		}
		label{
			display:block;
			//width: 25%;
			padding-right: 10px;
			margin-top: 1px;
			width: auto;
			float: left;
			font-size: 24px;
			font-family: @font-family-sans-serif;
			font-weight: normal;
			bottom: 5px;
			text-align: left;
			
			@media(max-width: 940px){
				//width: 30%;
			}
			@media(max-width: 810px){
				font-size: 21px;
				margin-bottom: 0;
			}
		}
		input[type="text"]{
			box-shadow: none;
			border-radius: 0;
			width: auto;
			float: left;
			border: 0;
			font-weight: normal;
			color: @armDarkBlue;
			font-size: 24px;
			padding: 0 0 10px 0;
			height: auto;
			@media(max-width: 940px){
				//width: 70%;
			}
			@media(max-width: 810px){
				font-size: 21px;
			}
			&:focus{
				border-color: transparent;
				outline: 0;
				text-shadow: none;
				box-shadow: none;
				border: 0;
			}
		}
		textarea{
			border: 1px solid @armDarkBlue;
			padding: 5px;
			width: 100%;
			border-radius: 3px;
			color: @armDarkBlue;
			font-size: 24px;
			padding: 5px 10px;
			&:focus{
				border-color: transparent;
				outline: 0;
				text-shadow: none;
				box-shadow: none;
				border: 1px solid @armDarkBlue;
			}
			@media(max-width: 810px){
				font-size: 21px;
			}
		}
	}//form-group
	.row{
		margin-bottom: -15px;
	}
	.error{
		display:block;
		color: darkred;
		font-family: @font-family-sans-serif;
		font-size: 15px;
		line-height: 24px;
		white-space: nowrap;
		position: absolute;
		.error{
			&:nth-child(2){
				margin-top: 20px;
			}
		}
	}//error
}//form

section{
	background-color: white;
	position:relative;
	z-index:15;
	padding-bottom: 45px;
	@media(max-width: 767px){
	  padding-bottom: 50px;
  }
  ul{
	  padding: 0 40px 0 30px; 
	  width:50%;
	  float:left;
	  position:relative;
	  margin: 10px 0 0 0;
	  li{
		  font-size: 18px;
		  line-height:28px;
		  list-style-type:none;
		  margin-bottom:30px;
		  &:before{
			  content:'';
			  position: absolute;
			  left: 0;
			  margin-top:9px;
			  width: 15px;
			  height: 6px;
			  background-color: @armDarkBlue;
			  display:block;  
		  }
		  &:last-child{
			  margin-bottom:0;
		  }
	  }
  }
}

.bg-beige{
	background-color: @armLightestGray;
}

header{
	padding-top: 20px;
	padding-bottom: 180px;
	@media(max-width:589px){
		padding-bottom: 80px;
		height: 280px;
		position:relative;
		overflow:hidden;
	} 
	.bg-image{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		z-index: 5;
		img{
			width: auto;
			min-height: 410px;
			min-width: 100%;
			@media(max-width:768px){
				min-height: 210px;
			}
		}
	}
	ul{
		float: right;
		position: relative;
		z-index:20;
		margin-top: 50px;
		padding-left: 0;
		li{
			list-style-type: none;
			float:left;
			padding: 0 20px;
			a{
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				padding: 10px 0;
				border-top: 4px solid transparent;
				letter-spacing: .5px;
				font-size: 19px;
				-webkit-font-smoothing: antialiased;
				&:hover,
				&:active,
				&:focus{
					text-decoration:none;
					color: white;
					border-top: 4px solid @armYellow;
					color: @armYellow;
				}
			}
			@media(max-width: 960px){
				padding: 0 12px;
				a{
					font-size: 15px;
				}
			}
			@media(max-width: 767px){
				padding: 0 15px;
				a{
					font-size: 16px;
				}
			}
			&.active a{
				border-top: 4px solid white;
				color: white;
			} 
		}
	}//ul
	a.logo{
		background: url('/assets/img/elements/header-logo.svg') center center no-repeat transparent;
		height: 180px;
		width: 100%;
		display:block; 
		position: relative;
		z-index: 30;
		margin-top: 30px;
		@media(max-width: 767px){
			background-position: top center;
			min-width:90px; 
			margin-top: 0;
		}
	}
	.snap-trigger-left{
		background: url('/assets/img/elements/mobile_navlines_56x34@2x.png') center center no-repeat transparent;
		width: 56px;
		height: 34px;
		background-size: contain;
		position:relative;
		z-index: 1000;
		margin-top: 15px;
		float: right;
		cursor:pointer;
	}
}

.introtext{
	margin-top: -57px;
	text-align:center;
	h1{
		background-color: @armDarkBlue;
		border-bottom: 6px solid @armYellow;
		display:inline-block;
		padding: 20px 60px;
	
	}
	h2{
		margin: 0 0 30px 0;
		color: white;
		text-align: center;
		-webkit-font-smoothing: antialiased;
	}
	p{
		color: white;
		margin-bottom:40px;
		text-align: center;
	}
}

.page-1 .introtext,
.page-6 .introtext{
	margin-top: -95px;
	@media(max-width: 767px){
		margin-top: -80px;
	}
	div{
		background-color: @armDarkBlue;
		border-bottom: 6px solid @armYellow;
	}
	h1{
		border:0;
		padding:40px 0;
		margin-bottom: 0;
	}
}

.page-6 .introtext{
	margin-bottom: 100px;
	
}

.ctas{
	.col-md-4{
		float: none !important;
		padding-bottom: 60px;
		@media(max-width: 767px){
			padding-bottom:30px;
			float:left !important;
			padding-bottom:0;
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	a.button{
		margin-left: 30px;
		margin-right: 30px;
		position: absolute;
		bottom: 0;
		&:before{
			left: -30px;
		}
		@media(max-width: 767px){
			position: relative;
		}
	}
}

#pullquote,
.pullquote{
	border-top:2px solid @armLightGray;
	font-size: 26px;
	text-align:center;
	font-style:italic;
	font-family: @font-family-serif;
	line-height: 48px;
	padding: 38px 150px 35px 150px;
	@media(max-width:1090px){
		padding-right: 0;
		padding-left:0;
	}
	p{
		font-size: 26px;
	  text-align: center; 
	  font-family: @font-family-serif;
	  line-height: 48px;
	  @media(max-width:1090px){
			font-size: 22px;
			line-height: 38px;
		}
	}
	a,
	button,
	.button{
		color: @armYellow; 
		font-weight:bold;
		text-decoration: none;
		border:0;
		background-color: white;
		cursor:pointer;
		&:hover,
		&:active,
		&:focus{
			color: @armMedGray;
			text-decoration:none;
			outline: none;
		}
	}
}

.pullquote{
	border:0;
	padding-bottom:0;
}

#education-form{
	border-top:2px solid @armLightGray;
}

#map{
	position:relative;
	z-index: 3;
	padding-bottom: 10px;
	margin-bottom:-65px;
	background-color: transparent;
	svg,
	object{
		cursor: pointer;
		width: 100%;
		height: 800px;
		display:block;
		path,
		polygon{
			&:hover{
				fill: @armYellow;
			}	 
		} 
		path[fill="#AAACA9"]{
			&:hover{
				fill: #AAACA9;
			}
		}
		path.active,
		polygon.active{
			fill: @armYellow;
			&:hover{
				fill: @armYellow;
			}
		}
		path#louisiana-region:hover,
		path#new-mexico-region:hover,
		path#oklahoma-region:hover{
			fill: @armYellow;
		}
		path#arkansas.active{
			fill: #AAACA9;
		}
		text,
		circle{
			pointer-events: none;
		}
	}
	object{
		display: none;
	}
	@media(max-width:1169px){
		margin-top: -80px;
	}
	@media(max-width:870px){
		margin-top:-10%;
	}
	@media(max-width:850px){
		margin-top:-13%;
	}
	@media(max-width:800px){
		margin-top:-15%;
	}
	@media(max-width: 767px){
		display:none;
	}
}

#locations{
	padding-bottom: 30px;
	margin-bottom: -30px;
	h2{
		margin-top: 0;
	}
	.desc{
		padding-left:30px;
		margin-bottom:30px;
		
	}
	.name{
		font-size: 19px;
		font-weight: bold;
		font-family: @font-family-serif;
		@media(max-width:780px) and (min-width: 591px){
			font-size: 16px;
		}
	}
	.title{
		font-family: @font-family-serif;
		line-height: 26px;
		font-size: 16px;
		@media(max-width:780px) and (min-width: 591px){
			font-size: 12px;
			line-height: 19px;
		}
	}
	.phone,.fax{
		font-family: @font-family-sans-serif;
		font-size: 19px;
		font-weight: 300px;
		-webkit-font-smoothing: antialiased;
		margin-top:10px;
		margin-bottom:0;
		display:block;
		white-space:nowrap; 
		@media(max-width:780px) and (min-width: 591px){
			font-size: 16px;
		}
	}
	.fax{
		margin-top:0;
	}
}

#regions{
	.name{
		font-size: 19px;
		font-weight: bold;
		font-family: @font-family-serif;
		display:block;
	}
}

#team{
	margin-top: 30px;
	.col-lg-4{
		margin-right:-15px;
		&:first-child{
			padding-left:30px;
			@media(max-width:590px){
				padding-left: 15px;
			}
		}
		margin-bottom: 40px;
		@media(max-width:590px){
			width: 100% !important;
			display:block;
			clear:both;
			margin-bottom:30px;
			float:left;
			clear:both;
		}
	}
	img{
		float:left;
		width: 50%;
		padding-right:15px;
		padding-left: 15px;
		height: auto;
		@media(max-width:700px){ 
			padding-right: 5px;
		}
		@media(max-width:590px){
			padding-right: 15px;
			padding-left: 30px;
			width: 25%;
			margin-top: 5px;
		}
	}
	.desc{
		float:left;
		width: 50%;
		position:relative;
		@media(max-width:590px){
			width: 70%;
		}
	}
	a.button{
		margin-left:0;
		margin-top:5px;
		&:before{
			left: 110px;
			@media(max-width:780px){
				left: 85px;
				margin-top:0;
			}
			@media(max-width:590px) {
				left: 110px;
			margin-top:4px;
			}
		}
		@media(max-width:780px){
			font-size: 13px;
			float: left;
		}
		@media(max-width:590px) {
			font-size: 16px;
			
		}
	
	}
	.name{
		font-size: 19px;
		font-weight: bold;
		font-family: @font-family-serif;
		color: @armDarkBlue;
		&:hover,
		&:active{
			color: @armYellow;
			text-decoration: none;
		}
		@media(max-width:780px) and (min-width: 701px){
			font-size: 16px;
		}
		@media(max-width:700px) and (min-width: 591px){
			font-size: 12px;
			display:block;
			margin-bottom:-17px;
		}
	}
	.title{
		font-family: @font-family-serif;
		line-height: 26px;
		font-size: 16px;
		@media(max-width:780px) and (min-width: 701px){
			font-size: 12px;
			line-height: 19px;
		}
		@media(max-width:700px) and (min-width: 591px){
			font-size: 10px;
			line-height: 15px;
			display:block;
			margin-bottom:-17px;
		}
	}
	.phone{
		font-family: @font-family-sans-serif;
		font-size: 19px;
		font-weight: 300px;
		-webkit-font-smoothing: antialiased;
		@media(max-width:780px) and (min-width: 701px){
			font-size: 16px;
		}
		@media(max-width:700px) and (min-width: 591px){
			font-size: 12px;
		}
	}
	a.email{
		color: @armMedGray;
		font-weight: bold;
		font-family: @font-family-sans-serif;
		font-size: 19px;
		margin-top: 0;
		display:block;
		@media(max-width:780px) and (min-width: 701px){
			font-size: 16px;
		}
		@media(max-width:700px) and (min-width: 591px){
			font-size: 12px;
		}
		&:hover,
		&:active,
		&:focus{
			color: @armDarkBlue;
			text-decoration: none; 
		}
	}
	h2{
		margin-top: 0;
		margin-bottom: 30px;
	}
}



#team-detail{
	.title{
		font-size: 19px;
		font-family: @font-family-serif;
		display:block;
		padding-left: 30px;
		margin-top: -10px;
		margin-bottom: 30px;
	}
	h3{
		font-family: @font-family-serif;
		font-size: 19px;
		font-weight: bold;
		margin: 30px 0;
	}
	p{
		margin-bottom: 30px;
	}
	.col-lg-3{
		p{
			padding-left: 0;
		}
		img{
			width: 100%;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			margin-bottom:15px;
		}
		h3{
			margin-bottom:15px;
		}
	}
	h2{
		margin-top: 30px;
	}
	a.button{
		margin-left: 30px;
		margin-top: -30px;
		margin-bottom:-20px;
		&:before{
			background: url('/assets/img/elements/button-arrow-back.svg') center center no-repeat transparent;
		}
	}
	a.email{
		color: @armMedGray;
		font-weight: bold; 
	}
}

#services,
#processes{
	li[type="button"]{
		cursor: pointer;
		position:relative;
		&:hover{
			color: @armMedGray;
		}
		&:before{
			content: '';
			background: url('/assets/img/elements/button-arrow.svg') center center no-repeat transparent;
			width: 17px;
			height: 17px;
			display: block;
			position: absolute;
			top: 3px;
			margin-left: -28px;
			margin-top:3px;
			@media(max-width: 767px){
			  
		  }
		}
	}//li
	ul{
		@media(max-width: 670px){
			width: 100%;
			clear:both;
			margin-bottom: 20px;
		}
	}
}

#map-popups{
	position: absolute;
	top: 0;
	right: 37px;
	@media(max-width:1169px){
		margin-top: 80px;
	}
	@media(max-width:1169px){
		margin-top: 80px;
	}
	@media(max-width:960px){
		top: 30px;
	}
	@media(max-width:870px){
		margin-top:10%;
	}
	@media(max-width:850px){
		margin-top:13%;
	}
	@media(max-width:800px){
		margin-top:15%;
	}
	@media(max-width: 767px){
		display:none;
	}
}
.map-popup{
	width: 230px;
	background-color: white;
	//border-radius: 6px;
	border-bottom: 7px solid @armLightGray;
	padding: 10px;
	-webkit-box-shadow: -1px 10px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 42px -10px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 42px -10px rgba(0,0,0,0.75);
	float: left;
	position: relative;
	right: 0;
	top: 0;
	margin-top: 15px;
	display:none;
	clear:both;
	img{
		width: 100px;
		float: left;
		padding-right: 10px;
	}
	a{
		display:block;
	}
	.name{
		font-size: 11px;
		font-weight: bold;
		font-family: @font-family-serif;
	}
	.title{
		font-family: @font-family-serif;
		line-height: 26px;
		font-size: 16px;
	}
	.phone{
		font-family: @font-family-sans-serif;
		font-size: 12px;
		font-weight: 300px;
		-webkit-font-smoothing: antialiased;
	}
	a.email{
		color: @armMedGray;
		font-weight: bold;
		font-family: @font-family-sans-serif;
		font-size: 11px;
		margin-top: 0;
		display:block;
		&:hover.
		&:active,
		&:focus{
			color: @armYellow;
			text-decoration:none; 
		}
	}
}

footer{
	background-color: @armDarkBlue;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	@media(max-width: 939px){
	  text-align: center;
  }
	a{
		color: white;
		&:hover,
		&:active,
		&:focus{
			color: @armYellow;
			text-decoration: none;
		}
	}
	ul{
		margin: 0;
		padding:0;
		float: left;
		@media(max-width: 939px){
		  margin: 0 auto;
		  width: 100%;
	  }
		li{
			list-style-type: none;
			float: left;
			padding: 0;
			margin: 0;
			&.active a{
				color: @armYellow;
			}
			@media(max-width: 939px){
			  float: none;
			  display: inline-block;
		  }
			a{
				text-transform: uppercase;
				font-size: 19px;
				font-weight: bold;
				display:block;
				padding: 0 24px;
				-webkit-font-smoothing: antialiased;
				@media(max-width: 1179px){
				  font-size: 18px;
				  padding: 0 20px;
			  }
				@media(max-width: 970px){
				  font-size: 15px;
				  padding: 0 12px;
			  }
			}
			&:first-child a{
				padding-left:0;
			}
			&:last-child a{
				padding-right: 0;
			}
		}//li
	}//ul
	.locations{
		ul{
			margin-top:-20px;
			@media(max-width: 939px){
			  margin-top: 20px;
		  }
			li{
				font-size: 16px;
				font-weight: normal;
				text-transform: capitalize;
				padding-right: 15px; 
				@media(max-width: 1179px){
				  font-size: 14px;
			  }
			  @media(max-width: 970px){
				  padding-right: 10px;
			  }
			}
		}
		.hidden-lg{
			float: left;
		}
	}//locations
	.logos{
		text-align: center;
		img{
			display: inline-block;
			margin: 0 auto;
			margin-top:30px;
			//margin: 30px 15px 0 15px;
			max-width: 100%;
		}
	}
	.copyright{
		font-size: 13px; 
		line-height:22px;
		margin-bottom: 0;
		@media(max-width: 939px){
		  br{
			  display: none;
		  }
		  margin-top:20px;
	  }
	}
}


/*
input::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
:-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
::-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
:-ms-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
*/

//Mobile Drawer -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid @armDarkBlue;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: @armDarkBlue;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: @armDarkBlue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 30px 0 0 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          background-color: white;
          a{
            color: @armDarkBlue;
          }
          ul li a{
            background-color: @armDarkBlue;
            color: white;
            &:hover,
            &:active{
              color: @armDarkBlue;
              background-color: white;
            }
          }
          ul li.active a{
            color: @armDarkBlue;
          }
        }
        ul{
          li{
            a{
              color: white;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: white;
              color: @armDarkBlue;
            }
          }
        }
        a{
          color: white;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid white;
          text-transform:uppercase;
          font-family: @font-family-sans-serif;
          &:hover,
          &:active,
          &:focus{
            background-color: white;
            color: @armDarkBlue;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers