.button{
	color: @armDarkBlue;
	border-top: 5px solid @armLightGray;
	text-transform: uppercase;
	text-decoration: none;
	font-size:18px;
	font-weight: bold;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom:5px;
	//margin-bottom: 50px;
	display:inline-block;
	margin-left: 30px;
	-webkit-font-smoothing: antialiased;
}

@media(max-width: 767px){
	.button{
		margin-right:30px;
	}
}