<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-ms-12 col-sm-12 col-xs-12">
							[[Wayfinder? &startId=`0` &level=`1`]]
						</div><!--/.col-->
						<div class="col-md-4 hidden-ms hidden-sm hidden-xs">
							<p class="copyright">
								&copy; [[current_year]] Armko Industries, Inc.<br />
								All Rights Reserved.<br />
								Site design by <a href="http://keystoneresources.com/" target="_blank" title="Keystone Resources">Keystone Resources</a>.
							 </p>
						</div><!--/.col-->
					</div><!--/.row-->
					<div class="locations row">
						<div class="col-md-8 col-xs-12">
							<ul>
								<li>Dallas</li>
								<li>Houston</li>
								<li>Austin</li>
								<li>East Texas</li>
								<li>Rio Grande Valley</li>
								<li>El Paso</li>
								<li>Lubbock</li>
								<li>Oklahoma</li>
							</ul>
						</div><!--/.col-->
						<div class="hidden-lg hidden-md col-ms-12 col-sm-12 col-xs-12">
							<p class="copyright">
								&copy; [[current_year]] Armko Industries, Inc.<br />
								All Rights Reserved.<br />
								Site design by <a href="http://keystoneresources.com/" target="_blank" title="Keystone Resources">Keystone Resources</a>.
							 </p>
						</div><!--/.col-->
					</div><!--/.row-->
					<div class="logos row">
						<div class="col-xs-12">
							<img src="/assets/img/elements/footer-logos_460x45.png" />
							<!--
<img src="/assets/img/images/logos/logo-placeholder_65x50.jpg" title="Name" alt="Name Logo" />
							<img src="/assets/img/images/logos/logo-placeholder_65x50.jpg" title="Name" alt="Name Logo" />
							<img src="/assets/img/images/logos/logo-placeholder_65x50.jpg" title="Name" alt="Name Logo" />
							<img src="/assets/img/images/logos/logo-placeholder_65x50.jpg" title="Name" alt="Name Logo" />
							<img src="/assets/img/images/logos/logo-placeholder_65x50.jpg" title="Name" alt="Name Logo" />
-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</footer>
			
		</div><!--/#content_container-->
		[[$scripts]]
	</body>
</html>