<div class="snap-drawers">
		  <div class="snap-drawer snap-drawer-left">
		      <div class="drawer_container">
		         <nav>[[Wayfinder? &startId=`0` &level=`1`]]</nav>
		      </div><!--/.drawer_container -->
		  </div><!--/.snap-drawer left --> 
		</div><!--/.snap-drawers --> 
		
		<div id="content_container">

			<header> 
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-ms-3 col-sm-2 col-xs-2">
							<a href="[[~1]]" title="[[++site_name]]" class="logo"></a> 
						</div><!--/.col-->
						<div class="col-md-9 col-ms-9 col-sm-10 col-xs-10">
							[[Wayfinder? &startId=`0` &level=`1` &outerClass=`hidden-sm hidden-xs`]]
							<div class="snap-trigger-left text-hide visible-sm visible-xs"></div>
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
				<div class="bg-image">
					[[*id:is=`1`:then=`
						[[getImageList? 
							&tvname=`MIGX-home_slider`
							&tpl=`@CODE:<img src="[[+sliderImage]]" title="[[+sliderTitle]]" alt="[[+sliderTitle]]" />`
						]]
					`:else=`
						[[*header_image:isnt=``:then=`<img src="[[*header_image]]"/>`:else=`<img src="/assets/img/images/headers/roofing-construction-img_1744x410.jpg" />`]]
					`]]
				</div><!--/.bg-header-->
			</header>
			
