<div class="map-popup" data-id="[[+tv.contact_region]]">
	<a href="[[~[[+id]]]]" title="[[+pagetitle]]">
		<img src="[[+tv.contact_image]]" />
	</a>
	<div class="desc">
		<span class="name">[[+pagetitle]]</span><br />
		<span class="phone">[[+tv.contact_phone]]</span><br />
		<a href="mailto:[[+tv.contact_email]]" class="email">Email Me</a>
	</div><!--/.desc--> 
	
</div><!--/.map-popup-->