<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
		<div class="desc">
			<span class="name">[[+officeName]]</span><br />
			<span class="title">
			[[+officeAddress1:isnt=``:then=`[[+officeAddress1]]<br />`]]
			[[+officeAddress2:isnt=``:then=`[[+officeAddress2]]<br />`]]
			</span>
			<span class="phone">[[+officePhone:isnt=``:then=`P [[+officePhone]]`]]</span>
			<span class="fax">[[+officeFax:isnt=``:then=`F [[+officeFax]]`]]</span>
		</div><!--/.desc-->
	</div><!--/.col-->
