<div class="col-lg-4 col-md-4 col-ms-4 col-xs-height">
	<h2>[[+blockTitle]]</h2>
	<p>[[+blockContent]]</p>
	<a href="[[+blockButtonLink]]" class="button" title="Learn more about [[+blockTitle]]">[[+blockButtonText]]</a>
</div><!--/.col-->