<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4"  data-type="[[+tv.contact_type]]">
		<a href="[[~[[+id]]]]" title="[[+pagetitle]]"><img src="[[+tv.contact_image]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" /></a>
		<div class="desc">
			<a href="[[~[[+id]]]]" title="[[+pagetitle]]" class="name"><span>[[+pagetitle]]</span></a><br /> 
			[[+longtitle:isnt=``:then=`
				<span class="title">
				[[+longtitle]]
				</span><br />
			`]]
			[[-+tv.contact_phone:isnt=``:then=`
			<span class="phone">[[+tv.contact_phone]]</span><br />
			`]]
			[[+tv.contact_email:isnt=``:then=`
			<a href="mailto:[[+tv.contact_email]]" class="email">Email Me</a>
			`]]
			<a href="[[~[[+id]]]]" class="button">More Info</a>
		</div><!--/.desc--> 
	</div><!--/.col--> 