
<!-- Service Modal -->
<div class="modal fade" id="process-modal-[[+idx]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2>[[+serviceTitle]]</h2>
      [[+serviceContent]]
    </div>
  </div>
</div>
</div>
 