[[$head]]
	[[$header]]
		<section>
			<div class="container">
				<div class="introtext row">
					<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
						[[*content]]
					</div><!--/.col12-->
				</div><!--/.row-->
			</div><!--/.container-->
		</section>
[[$footer]]