[[$head]]
	[[$header]]
		
			<section>
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="map">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<svg></svg> 
							<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/contact-map-01.svg"></object>
							<div id="map-popups">
									[[!getResources?
									  &parents=`5`
									  &tpl=`tpl-gr-team_popup`
									  &includeTVs=`1` 
									  &processTVs=`1`
									  &includeContent=`1`
									  &tvFilters=`contact_region!=`
									  &limit=`100`
									]]
							</div><!--/#map-popups-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			
						
			<section id="locations">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Main Offices</h2>
						</div><!--/.col-->
					</div><!--/.row-->
					[[getImageList? 
						&tvname=`MIGX-locations`
						&tpl=`tpl-migx-locations`
					]]
				</div><!--/.container-->
			</section>

			<section id="team">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2>Leadership</h2>
						</div><!--/.col-->
					</div><!--/.row-->
					
					<div class="row">
						[[!getResources?
						  &parents=`-1` 
						  &resources=`17`
						  &tpl=`tpl-gr-team_member`
						  &includeTVs=`1` 
						  &processTVs=`1`
						  &includeContent=`1`
						  &limit=`1`
						  &sortby=`{"menuindex":"ASC"}`
						]]
					</div>
					
					<div class="team-1">
						[[!getResources?
						  &parents=`5`
						  &resources=`-17`
						  &tpl=`tpl-gr-team_member`
						  &includeTVs=`1` 
						  &processTVs=`1`
						  &includeContent=`1`
						  &tvFilters=`contact_type==leadership` 
						  &limit=`100`
						  &sortby=`{"menuindex":"ASC"}`
						]]
					</div>
		
					<div class="row">
						<div class="col-xs-12">
							<h2>Consultants</h2>
						</div><!--/.col-->
					</div><!--/.row-->
					
					<div class="team-2">
						[[!getResources?
						  &parents=`5`
						  &tpl=`tpl-gr-team_member_2` 
						  &includeTVs=`1` 
						  &processTVs=`1`
						  &includeContent=`1`
						  &tvFilters=`contact_type==staff` 
						  &limit=`100`
						  &sortby=`{"menuindex":"ASC"}`
						]]
					</div>
	
						
			
				</div><!--/.container-->
			</section>
			
			[[$footer]]