[[$head]]

<!-- About Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        [[*about_pullquote_popup]]
      </div>
    </div>
  </div>
</div>

	[[$header]]
		
			<section>
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
					<div class="row">
						<div class="col-xs-12">
							<h2></h2>
							[[*content]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="pullquote">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							[[*about_pullquote]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section class="bg-beige">
				<hr />
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*about_content]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			[[$footer]]