[[$head]]
	[[$header]]
			<section>
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
					<div class="ctas row">
						<div class="row-same-height">				
							[[getImageList? 
								&tvname=`MIGX-home_ctas`
								&tpl=`tpl-migx-home_ctas`
							]]
						</div><!--/.row-same-height-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			<section class="bg-beige">
				<hr />
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							[[*home_content]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			[[$footer]]