[[$head]]

[[getImageList? 
	&tvname=`MIGX-services`
	&tpl=`tpl-migx-services`
]]

[[getImageList? 
	&tvname=`MIGX-processes`
	&tpl=`tpl-migx-processes`
]]

	[[$header]]
		
			<section id="services">
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
					<div class="row">
						<div class="col-xs-12">
							<h2>Services</h2>
							[[getImageList? 
								&tvname=`MIGX-services`
								&tpl=`tpl-migx-services_list`
							]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="pullquote">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							[[*service_pullquote]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="processes" class="bg-beige">
				<hr />
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2>Processes</h2>
							[[getImageList? 
								&tvname=`MIGX-processes`
								&tpl=`tpl-migx-processes_list`
							]]
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section> 
			
			[[$footer]]