[[$head]]
	[[$header]]
		
			<section>
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
					<div class="row">
						<div class="pullquote col-xs-12">
							We offer three AIA accredited learning seminars related to roofing and building envelope waterproofing. Please contact us to request more information and to schedule a presentation.
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			<section id="education-form">
				<div class="container">
					<div class="row">
						<div class="col-xs-12"> 
							[[!FormIt?
								&hooks=`spam,FormSave,email`
								&emailTo=`shonna@keystoneresources.com`
								&emailFromName=`Armko`
								&emailTpl=`tpl-email-education`
								&emailSubject=`Education Form Submission`
								&validate=`
								  username:blank,
								  fname:required,
								  lname:required,
								  email:email:required,
								  phone:required`
							]]
							[[!FormItRetriever]] 
							
							<form id="employer-form" action="[[~[[*id]]]]" method="post">
								
								<input type="hidden" name="seeking_values[]" value="" />
										      
							  <div class="row">
							    <div class="col-md-6 col-ms-6">
								    <div class="form-group">
									    <label>First Name * <span class="error">[[!+fi.error.fname]]</span></label>
									    <input type="text" name="fname" class="form-control" value="" required />
								    </div><!--/.form-group -->
								  </div><!--/.col-->
								  <div class="col-md-6 col-ms-6">
								    <div class="form-group">
									    <label>Last Name * <span class="error">[[!+fi.error.lname]]</span></label>
									    <input type="text" name="lname" class="form-control" value="" required/>
								    </div><!--/.form-group -->
							    </div><!--/.col-->
							  </div><!--/.row-->
							  
							  <div class="row">
							    <div class="col-md-6 col-ms-6">
								    <div class="form-group">
									    <label>Title</label>
									    <input type="text" name="title" class="form-control" value="" />
								    </div><!--/.form-group -->
								  </div><!--/.col-->
								  <div class="col-md-6 col-ms-6">
								    <div class="form-group"> 
									    <label>Company</label>
									    <input type="text" name="company" class="form-control" value="" />
								    </div><!--/.form-group -->
							    </div><!--/.col--> 
							  </div><!--/.row--> 
							  
							  <div class="row">
							    <div class="col-md-6 col-ms-6">
								    <div class="form-group">
									    <label>Email * <span class="error">[[!+fi.error.email]]</span></label>
									    <input type="text" name="email" class="form-control" value=""  required />
								    </div><!--/.form-group -->
								   </div><!--/.col-->
								   <div class="col-md-6 col-ms-6">
								    <div class="form-group">
									    <label>Phone * <span class="error">[[!+fi.error.phone]]</span></label>
									    <input type="text" name="phone" class="form-control" value=""  required />
								    </div><!--/.form-group -->
							    </div><!--/.col-->
							  </div><!--/.row-->
							 
							  <div class="row">
									<div class="col-xs-12"> 
										<div class="form-group textarea-group">
											<label>Comments</label>
									    <textarea rows="6" name="comments"></textarea>
								    </div><!--/.form-group-->
									</div><!--/.col-->
							  </div><!--/.row-->  
							  
							  <div class="row"> 
									<div class="col-xs-12">
										<div class="submit-arrow"></div>
										<input type="submit" name="submit" value="Submit" />
									</div><!--/.col-->
							  </div><!--/.row-->
							  
							</form>

						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>
			
			
			[[$footer]]