[[$head]]
	[[$header]]
		
			<section>
				<div class="container">
					<div class="introtext row">
						<div class="col-lg-10 col-md-10 col-ms-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-ms-offset-1 col-sm-offset-1 col-xs-offset-1">
							<h1>Contact Us</h1>
						</div><!--/.col12-->
					</div><!--/.row-->
				</div><!--/.container-->
			</section>

			<section id="team-detail">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<a href="[[~5]]" class="button">Back</a>
						</div><!--/.col-->
					</div><!--/.row-->
					<div class="row">
						<div class="col-lg-9 col-md-8 col-ms-8">
							<h2>[[*pagetitle]]</h2>
							<span class="title">[[*longtitle]]</span>
							<p>[[*content]]</p>
						</div><!--/.col-->
						<div class="col-lg-3 col-md-4 col-ms-4">
							<img src="[[*contact_image]]" title="[[*pagetitle]]"/>
							<h3>Contact</h3>
							<p>
								[[*contact_phone]]<br />
								<a href="mailto:[[*contact_email]]" class="email">Email Me</a>
							</p>
							[[*contact_content]]
						</div><!--/.col-->
					</div><!--/.row-->
					
				</div><!--/.container-->
			</section>
			
			[[$footer]]